<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>telephone</display-name>
  <welcome-file-list>
    <welcome-file>Catalog.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>package_1.server.filter.EncodingFilter</filter-class>
    <init-param>
      <description></description>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ListTelephones</display-name>
    <servlet-name>ListTelephones</servlet-name>
    <servlet-class>package_1.server.ListTelephones</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTelephones</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTelephone</display-name>
    <servlet-name>ViewTelephone</servlet-name>
    <servlet-class>package_1.server.ViewTelephone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTelephone</servlet-name>
    <url-pattern>/viewtel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCard</display-name>
    <servlet-name>AddToCard</servlet-name>
    <servlet-class>package_1.server.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCard</servlet-name>
    <url-pattern>/addtocart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>package_1.server.Login</servlet-class>
    <init-param>
      <description></description>
      <param-name>loginPattern</param-name>
      <param-value>.{1,20}</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>errLoginMsg</param-name>
      <param-value>Login or password incorrect</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorHandler</display-name>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>package_1.server.ErrorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/ErrorHandler</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
</web-app>